.display-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-column{
  flex-direction: column;
}

.section-vh{
  height: 100vh;
}

.title-client-logo{
  color:  rgb(80, 79, 79);
  font-weight: 501;
  letter-spacing: 1px;

}

.cards-client-logo{
  margin: 65px 0;
}

.cards-client-logo img{
  width: 70px;
  height: 70px;
}

.cards-client-logo .card-feature{
  width: 150px;
  height: 150px;
  padding: 25px 0!important;
  margin: 0 25px;
  border-radius: 10px;
  background: #9ba0c5;
  box-shadow: 1px 2px 3px #7a7a7a;
}

.cards-client-logo h3{
  font-size: 20px;
}

.cards-client-logo .feature-icon{
  margin-bottom: 18px!important;

}

.section-gestion-solutions {
  padding: 0 100px;
}

.section-gestion-solutions img{
  width:450px ;
  height:300px ;

}

.section-gestion-solutions h5{
  font-size: 40px;
  color: #555458;
  font-weight: 501;
  line-height: 1.50;

}

.section-gestion-solutions p{
  font-size: 30px;
  color: #555458;
  font-weight: 400;
  /* line-height: 1.50; */

}

.section-funcionalidades h2{
    color: #555458;
    font-size: 42px;
    font-weight:  501;
    line-height: 3;
    font-family: "Lato",sans-serif;
}

.section-funcionalidades h3{
    color: #555458;
    font-family: "Lato",sans-serif;
    font-size: 28px;
    font-weight:  500;
    line-height:1;
}

.section-funcionalidades .pl-0 h3{
  color: #555458;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight:  501;
    /* line-height:1; */

}

.functions{
  padding: 3em 50px;
}

.section-sale h3{
  font-size: 45px;
  color: #979cd4;
}

.section-sale .centrado-vertical-padre h3{
  font-size: 36px;
  color: #475156;
}

.section-sale .compatible-subtitle{
  font-size: 26px;
  font-family: "Lato",sans-serif;
  color: rgb(70, 81, 85);
}

.section-sale img{
  height:500px ;
}