.header{
  height: 70px;
  background-color: rgb(93, 0, 180);
  
}

.logo{
  line-height: 70px;

}

.logo .muñeco{
  width: 70px;
  height: 50px;
}

.logo .logo_name{
  width: 110px;
  height: 50px;
}

.card{
  box-shadow: 0.5px 2px #888888;
  width: 500px
}

.background-image{
  background-image:  url('../img/banner/banner02.png');
  
}

.margin-login{
  margin: 20px 120px;
}

@media (max-width: 576px) { 
  .card{
    box-shadow: 0.5px 2px #888888;
    width: 300px
  }

  .margin-login{
    margin: 20px;
  }
}