@media (max-width: 413px) {

	.the-big-box {
	    padding: 2em;
		margin: -7em 0;
		box-shadow: 11px 8px 5px -6px rgba(0,0,0,0.4);
	}

	.float{
		float: right !important;
		margin-top: 10%;
	}

	.card-1{
		margin-bottom: 5%;
	}

	.border{
		width: 100% !important;
	}

	.boleta-ejemplo{
		padding: 0 !important;
	}
	
}

@media (min-width: 414px) and (max-width: 760px) {

	.the-big-box {
	    padding: 2em;
		margin: -7em 1em;
		box-shadow: 11px 8px 5px -6px rgba(0,0,0,0.4);
	}

	.float{
		float: right !important;
		margin-top: 10%;
	}

	.card-1{
		margin-bottom: 5%;
	}
	
}

@media (min-width: 761px)  and (max-width: 998px){

	.the-big-box {
	    padding: 2em;
		margin: -7em 5em;
		box-shadow: 11px 8px 5px -6px rgba(0,0,0,0.4);
	}
	.card-1{
		margin-bottom: 5%;
	}

	.form-register .content {
	    padding: 0 10px;
	}
	.form-register .steps li a {
		width: 50px;
		height: 50px;
		margin-right: 30px;
	}
	.form-register .steps li a::before {
		width: 30px;
	}
	
}


@media (min-width: 999px) {

	.the-big-box {
	    padding: 2em;
		box-shadow: 11px 8px 5px -6px rgba(0,0,0,0.4);
		margin-top: -140px;
	}
	
}
	