.wizard-v10-content   {
	background: #fff;
	width: 850px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 260px 0 160px;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	display: flex;
	display: -webkit-flex;
}
.wizard-v10-content .wizard-form {
	width: 100%;
	border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.wizard-form .wizard-header {
	background: #6a75ca;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 13px 50px;
}
.wizard-form .wizard-header h3 {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	margin: 0;
}
.wizard-form .wizard-header p {
	color: #666;
	font-size: 16px;
	font-weight: 600;
	margin: 6px 0 26px;
}
.form-register .steps {
    margin-bottom: 33px;
    margin-top: 40px;
}
.form-register .steps ul {
    display: flex;
    display: -webkit-flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
}
.form-register .steps li,
.form-register .steps li.current {
	outline: none;
	-o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.form-register .steps li a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #ccc;
    margin-right: 143px;
    position: relative;
    outline: none;
}
.form-register .steps li a::before {
	position: absolute;
	content: "";
	background: #e5e5e5;
	width: 143px;
	height: 2px;
	top: 50%;
	transform: translateY(-50%);
	-o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
	left: 100%;
}
.form-register .steps li.last a {
	margin-right: 0;
}
.form-register .steps li.last a::before {
	content: none;
}
.form-register .steps li.current a,
.form-register .steps li.current a:active,
.form-register .steps li.done a::before,
.form-register .steps li.done a,
.form-register .steps li.done a:active  {
    background: #6a75ca;
}
.form-register .steps li .current-info {
	display: none;
}
.form-register .steps li .title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.form-register .content {
	padding: 0 80px;
}
.form-register .content h2 {
	display: none;
}
.inner .form-row {
    display: flex;
    margin: 0 -10px;
    position: relative;
}
.inner .form-row .form-holder {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;
    position: relative;
}
.inner .form-row .form-holder.form-holder-2 {
    width: 53.6%;
	position: relative;
}
.inner .form-row .form-holder label {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
    display: block;
}
.inner .form-row .form-holder input,
.inner .form-row .form-holder select {
    width: 100%;
    padding: 14.5px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.inner .form-row .form-holder select {
	color: #666;
	font-size: 15px;
	font-weight: 500;
	background: 0 0;
    z-index: 1;
    cursor: pointer;
    position: relative;
}
.inner .form-row .form-holder .select-btn {
    z-index: 0;
    position: absolute;
    top: 55%;
    right: 8%;
    font-size: 18px;
    cursor: pointer;
    color: #666;
}
.actions {
	margin: 20px 80px 60px;
}
.actions ul {
	list-style: none;
	padding-left: 0;
}
.actions ul li:first-child {
	float: left;
}
.actions ul li {
	padding: 0;
    border: none;
    border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    display: inline-flex;
    height: 25px;
    width: 160px;
    justify-content: right;
    -o-justify-content: right;
    -ms-justify-content: right;
    -moz-justify-content: right;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    background: #C1C9CF;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    cursor: pointer;
    float:right;
}
.actions ul li:hover {
	background: #C1C9CF;
}
.actions ul li a {
	color: #333;
	text-decoration: none;
    padding: 15px 42px;
}


/* Responsive */
@media screen and (max-width: 1199px) {
	.wizard-v10-content {
		margin: 180px 20px;
	}
}
@media screen and (max-width: 991px) {
	.inner .form-row {
		flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		margin: 0;
	}
}
@media screen and (max-width: 767px) {
	.inner .form-row .form-holder.form-holder-2 {
		width: 100%;
	}
} 
@media screen and (max-width: 766px) {
	.wizard-v10-content {
		width: 90%;
	}
	.form-register .content {
	    padding: 0 10px;
	}
	.form-register .steps li a {
		width: 50px;
		height: 50px;
		margin-right: 20px;
	}
	.form-register .steps li a::before {
		width: 50px;
	}
} 
.card-1{
    border-radius: 25px !important;
    background-color: #F14C6C !important;
    cursor: pointer;
}

.card-00{
    border-radius: 25px !important;
    background-color: #5866ba !important;
    cursor: pointer;
}

.titulo-box{
    text-align: left;
    font-weight: bold;
}

.botones {
	padding: 0;
    border: none;
    border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    display: inline-flex;
    height: 25px;
    width: 160px;
    justify-content: right;
    -o-justify-content: right;
    -ms-justify-content: right;
    -moz-justify-content: right;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    background: #6a75ca;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    cursor: pointer;
    color: white;
}

.botones:hover {
    color: white !important;
}

.border{
    border: 1px #C1C9CF solid !important;
    border-radius: 10px;
    padding: 30px;
}

.boleta-ejemplo p {
    margin: 0;
    font-size: 0.8em;
}

.boleta-ejemplo .titulo-boleta{
    font-weight: 500;
    font-size: 1.2em;
}

.boleta-ejemplo .direccion-boleta, .boleta-ejemplo .encabezado {
    padding: 0.5em 0;
    display: inline-flex;
    font-weight: 500;
}

.boleta-ejemplo .encabezado {
    padding-top: 0;
}

.enc-fac {
    padding-right: 5em;
}

.dir-bol {
    padding-right: 2em;
}

.boleta-ejemplo .tabla-boleta {
    font-size: 0.8em;
    width: 100%;
}

.boleta-ejemplo .tabla-boleta th {
    font-size: 0.9em;
}

.ta-right {
    text-align: right;
}

.ta-left {
    text-align: left;
}

.terminos {
    font-weight: 500;
}

.btn-transparent {
    background: transparent;
    border: none;
}

.float{
    float:left !important;
}

.campo-obligatorio {
    color:red;
    font-weight: bold;
}

.owl-stage-outer {
    z-index: 3;
}

.owl-nav {
    position: absolute;
    margin-top: -70% !important;
    width: 142% !important;
    margin-left: -21% !important;
    z-index: 2;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent !important;
}

.owl-prev {
    float: left;
}

.owl-next {
    float: right;
}

@media(min-width:370px) {
    .owl-nav {
        width: 138% !important;
    }
}

@media(min-width:700px) {
    .owl-nav {
        width: 120% !important;
        margin-top: -30% !important;
        margin-left: -10% !important;
    }
}

@media(min-width:1000px) {
    .owl-nav {
        margin-top: -24% !important;
    }
}

@media(min-width:1200px) {
    .owl-nav {
        margin-top: -17% !important;
    }
}
