@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
body {
    font-family: "Lato",sans-serif;
   	height: 100vh;
   	width: 100%;
}

.btn-purple{
	border-radius: 10px;
	border: 2px #5866ba solid;
	color:#5866ba;
	background-color: rgba(0,0,0,0);
}

.header{
	height:12vh;
	align-items: center;
}

	.header > div:nth-child(1){
		align-items: flex-end;
	}

		.header > div:nth-child(1) div img:nth-child(1){
			width: 50px;
			height: 40px;
		}

		.header > div:nth-child(1) div img:nth-child(2){
			width: 50px;
			height: 30px;
			margin-left: -10px;
		}

	.header > div:nth-child(2){	
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	} 

		.header div:nth-child(2) div a:nth-child(1),a:nth-child(2),a:nth-child(3) {
			display: none;
		}

		.header div:nth-child(2) a {
			text-decoration: none;
			color: black;
		}

			.header div:nth-child(2) a span{
				font-size: 0.7em;
				color:#475156;
			}

		.header div:nth-child(2) button{
			font-size: 0.7em;
			height: 25px;
			padding: 0 7px;
			font-weight: bold;
		}

		.header div:nth-child(2) button:focus{
			outline:0;
			cursor: pointer;
		}

.main{
	height: 60vh;
	width: 100%;
	padding-top: 3vh;
}

	.main > div:nth-child(1) > h1{
		font-size: 1.6em;
		text-align: center;
		color:#475156;
	}

	.main > div:nth-child(1) > div{
		display: none;
	}

		.main  > div:nth-child(1) h1 span{
			color:rgba(0,0,0,0.9);
		}

		.main > div:nth-child(1) > div button{
			background-color: #5866ba;
			width: 130px;
			height: 28px;
			color:#fff;
			box-shadow: 8px 9px 13px gray;
			font-weight: bold;
			font-size: 0.6em;
			border-radius: 20px;
		}

		.main > div:nth-child(1) > div button:focus{
			outline:0;
		}

	.main > div:nth-child(2){
		width: 100%;
		padding-top: 3vh;
	}

		.main > div:nth-child(2) img{
			width: 100%;
		}

	.main div:nth-child(3){
		width: 100%;
		display: flex;
		padding-top: 3vh;
		justify-content: center;
	}

		.main div:nth-child(3) button{
			background-color: #5866ba;
			width: 130px;
			height: 28px;
			color:#fff;
			box-shadow: 8px 9px 13px gray;
			font-weight: bold;
			font-size: 0.6em;
			border-radius: 20px;
		}
		
		.main div:nth-child(3) button{
			outline:0;
			cursor: pointer;
		}
		
	.main div:nth-child(4){
		width: 100%;
		display: flex;
		padding-top: 7vh;
		padding-right: 20px;
		justify-content: flex-end;
	}

		.main div:nth-child(4) button{
			background-color: #fff;
			width: 80px;
			height: 20px;
			color:#5866ba;
			border: 2px solid #5866ba;
			font-weight: bold;
			font-size: 0.6em;
			border-radius: 20px;
		}

		.main div:nth-child(4) button{
			outline: 0;
			cursor: pointer;
		}


@media screen and (min-width: 400px) {

	.main h1{
		font-size: 1.9em;
	}


	.header div:nth-child(2) span{
		font-size: 0.9em;
		margin-right: 5px;
	}

	.header div:nth-child(2) button{
		font-size: 0.9em;
		height: 30px;
		margin-left: 5px;
		padding: 0 7px;
	}


	.main div:nth-child(3){
		padding-top: 5vh;
	}

		.main div:nth-child(3) button{
			width: 165px;
			height: 32px;
			box-shadow: 8px 9px 13px gray;
			font-weight: bold;
			font-size: 0.75em;
		}

	.main div:nth-child(4){
		padding-top: 8vh;
	}

		.main div:nth-child(4) button{
			width: 100px;
			height: 28px;
			color:#5866ba;
			border: 2px solid #5866ba;
			font-size: 0.8em;
		}

}


@media screen and (min-width: 576px) {

	.main h1{
		font-size: 1.95em;
	}

	.header > div:nth-child(1) div img:nth-child(1){
		width: 65px;
		height: 45px;
	}

	.header > div:nth-child(1) div img:nth-child(2){
		width: 60px;
		height: 33px;
		margin-left: -10px;
	}


	.header > div:nth-child(2){	
		justify-content: flex-end;
		padding-right: 10px;
	} 

		.header div:nth-child(2) a span{
			margin-right: 10px;
			font-size: 1.1em;

		}

		.header div:nth-child(2) button{
			margin-left: 10px;
			font-size: 1em;
		}

	.main div:nth-child(3){
		padding-top: 7vh;
	}

		.main div:nth-child(3) button{
			width: 170px;
			height: 33px;
			padding: 0 0 2px 0;
			box-shadow: 8px 9px 13px gray;
			font-size: 0.9em;
			font-weight: normal;

		}

		.main div:nth-child(4) button{
			display: none;
		}

}


@media screen and (min-width: 992px) {

	body{
		width: 100% !important;
	}
	body > div{
		width: 90% !important;
		height: 100vh;
		padding: 0 !important;
		margin:0 auto !important;
		max-width: 100% !important;
	}

	.header > div:nth-child(1) div img:nth-child(1){
		width: 70px;
		height: 50px;
	}

	.header > div:nth-child(1) div img:nth-child(2){
		width: 70px;
		height: 35px;
		margin-left: -10px;
	}

	.header > div:nth-child(2){	
		justify-content: center;
		padding-right: 10px;
		font-size: 1.15em;
	}

		.header div:nth-child(2) div a:nth-child(1),a:nth-child(2),a:nth-child(3) {
			display: inline-block;
		}

	.header div:nth-child(2) button{
		margin-left: 10px;
		width: 120px;
		font-size: 1em;
		height: 35px;
		border: 2px #5866ba solid;
		color:white;
		font-weight: normal;
		background-color:#5866ba; 
	}

	.main{
		padding-top: 6vh;
		display: flex;
		flex-wrap: wrap;
	}

	.main > div:nth-child(1){
		width: 40%;
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.main div:nth-child(1) h1{
		font-size: 2.2em;
	}

	.main > div:nth-child(1) > div{
		display:flex;
		flex-wrap: wrap;
		width: 100%;
		height: 100px;
		padding-top: 3vh;
		justify-content: center;
	}

		.main > div:nth-child(1) > div button{
			font-size: 0.9em;
			font-weight: normal;
			width: 195px;
			border-radius: 12px;
			height: 34px;
			padding: 0 0 3px 0;
		}

	.main > div:nth-child(2){
		width: 60%;
		padding-left: 50px;
	}

		.main > div:nth-child(2) img{
			width: 100%;
			height: 100%;
			max-height: 420px;
		}


		.main div:nth-child(3) button{
			width: 170px;
			height: 33px;
			padding: 0 0 2px 0;
			box-shadow: 8px 9px 13px gray;
			font-size: 0.9em;
			font-weight: normal;
			display: none;
		}


	.main div:nth-child(4){
		padding-top: 5vh;
	}

		.main div:nth-child(4) button{
				display: block;
				font-size: 1em;
				width: 120px;
				font-weight: normal;
				height: 34px;
		}
}


@media screen and (min-width: 1250px) {

	.main > div:nth-child(1){
		width: 35%;
	}

	.main > div:nth-child(2){
		width: 65%;
	}


		.main > div:nth-child(2) img{
			max-height: 430px;
			height: 400px;
		}

	.main div:nth-child(4){
		padding-top: 0vh;
	}

		.main div:nth-child(4) button{
				display: block;
				font-size: 1em;
				width: 120px;
				font-weight: normal;
				height: 34px;
		}

}

@media screen and (min-width: 1500px) {

	.header{
		padding-top: 4vh;
	}

	.header > div:nth-child(1) div img:nth-child(1){
		width: 80px;
		height: 70px;
	}

	.header > div:nth-child(1) div img:nth-child(2){
		width: 100px;
		height: 45px;
		margin-left: -10px;
	}

	.main > div:nth-child(1) h1{
		font-size: 2.6em;
	}

		.main > div:nth-child(1) > div button{
			font-size: 1.2em;
			font-weight: normal;
			width: 240px;
			border-radius: 12px;
			height: 46px;
			padding: 0 0 3px 0;
		}

	.header div:nth-child(2) a span{
		font-size: 1.2em;
		margin-right: 15px;
	}

	.header div:nth-child(2) button{
		font-size: 1.2em;
		height: 40px;
		margin-left: 15px;
		padding: 0 10px;
	}

	.main{
		padding-top: 5.5vh;
	}

	.main > div:nth-child(1){
		width: 35%;
	}

	.main > div:nth-child(2){
		width: 65%;
	}

		.main > div:nth-child(2) img{
			max-height: 530px;
			height: 530px;
		}

	.main div:nth-child(4){
		padding-top: 5vh;
	}

		.main div:nth-child(4) button{
				display: block;
				font-size: 1.2em;
				width: 145px;
				font-weight: normal;
				height: 40px;
		}

}