.domain-search{
  padding: 50px 0;

  h3{
    font-size: 27px;
    font-weight: 700;
    // max-width: 170px;
  }
}
.form-domainSearch{
  margin-bottom: 15px;

  .form-group{
    // width: 90%;
    flex: 1 0 auto;
    margin-bottom: 0;
  }

  .form-control{
    font-size: 13px;
    color: #999999;
    height: 45px;
    border-radius: 0;
    width: 100%;
    padding-left: 25px;
    background: transparent;
    border-color: #dbd9e6;

    @media(min-width: 600px){
      height: 60px;
    }

    &::placeholder{
      color: #999999;
    }

    &:focus{
      outline: 0;
      box-shadow: none;
    }
  }

  button{
    padding: 5px 25px;
    height: 45px;
    margin-left: 10px;
    box-shadow: 0px 20px 20px 0px rgba(42, 38, 172, 0.2); 

    @media(min-width: 600px){
      padding: 15px 62px;
      height: 60px;
    }
  }
}

.domain-check{

  li{
    margin: 5px;

    @media(min-width: 768px){
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 0;
    }

    @media(min-width: 1200px){
      margin-right: 15px;
    }

    &:last-child{
      margin-right: 15px;
    }
  }

  label{
    font-size: 15px;
    font-weight: 700;
    color: $primary-color;
  }

  .dollar-hint{
    font-size: 18px;
    color: #999999;
    font-weight: 400;
    font-family: $text-font;
    margin-left: 3px;
  }
}




.checkbox_style{
  font-size: 13px;
  font-weight: 400;

  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:checked + label,
  [type="checkbox"]:not(:checked) + label
  {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    // color: #666;
    margin-bottom: 0;
  }
  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 14px;
      height: 14px;
      border: 1px solid rgb(219, 217, 230);
      background: transparent;
  }
  [type="checkbox"]:checked + label:before{
    border-color: transparent;
  }
  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:not(:checked) + label:after {
    content: "\e64d";
    // width: 8px;
    // height: 8px;
    // background: #00a69c;
    position: absolute;
    top: 2px;
    left: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 16px;
    color: $primary-color;
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}




.logo-carousel{
  padding: 55px 0;
  border-bottom: 1px solid #dbd9e6;

  .owl-item img{
    width: auto !important;
    height: auto !important;
  }
}
.{
  font-size: 27px;
  color: #888888;
  font-weight: 300;
}



.card-feature{
  background: #f9f9ff;
  padding: 45px 30px;
  margin-bottom: 30px;
  @include transition;

  .feature-icon{
    margin-bottom: 30px;
  }

  h3{
    margin-bottom: 12px;
  }

  p{
    margin-bottom: 0;
  }

  &:hover{
    background: $white;
    box-shadow: 0px 20px 20px 0px rgba(40, 25, 114, 0.1); 
  }
}
.card-feature-content{
  // padding: 30px 0;
  padding: 0;
  background: transparent;

  @media(min-width: 768px){
    padding: 30px 0;
  }

  h2{
    margin-bottom: 25px;
  }

  &:hover{
    box-shadow: none;
  }
}



.card-service{
  // background: #f9f9ff;
  padding: 30px 18px;
  margin-bottom: 30px;
  @include transition;

  @media(min-width: 992px){
    padding: 45px 30px;
  }

  .service-icon{
    margin-bottom: 30px;
  }

  h3{
    margin-bottom: 12px;
  }

  p{
    margin-bottom: 0;
  }

  &:hover{
    background: $white;
    box-shadow: 0px 20px 20px 0px rgba(40, 25, 114, 0.1); 
  }
}



.priceTable-bg{
  background: url(../img/home/priceTable-bg.png) left center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @extend .gradient;
    opacity: .9;
    z-index: -1;
  }
}
.card-pricing{
  background: #faf9ff;
  border-radius: 3px;
  border: 0;
  box-shadow: 0px 2px 2px 0px rgba(40, 25, 114, 0.1); 
  @include transition;


  &__header{
    border-bottom: 1px solid #ebebeb;
    padding: 40px 7px;

    h4{
      font-size: 27px;
      font-weight: 900;
      margin-bottom: 5px;
      color: #1d2441;
    }

    p{
      font-weight: 400;
      margin-bottom: 27px;
    }
  }

  &__price{
    font-size: 40px;
    font-family: $text-font;
    font-weight: 700;
    margin: 0;
    color: #1d2441;

    @media(min-width: 991px){
      font-size: 60px;
    }

    span{
      font-size: 40px;
      vertical-align: middle;
      position: relative;
      bottom: 5px;
      margin-right: 3px;
    }
  }

  &__list{
    padding: 30px 8px 25px 8px;
    border-bottom: 1px solid #ebebeb;

    li{
      margin-bottom: 12px;

      &:last-child{
        margin-bottom: 0;
      }

      i,span{
        font-size: 13px;
        margin-right: 10px;
      }

      &.unvalid{
        
        i,span{
          color: #f81c1c;
          font-size: 12px;
        }
      }
    }
  }

  .button{
    background: transparent;
    border: 1px solid #dbd9e6;
    color: $primary-color;
  }

  &__footer{
    padding: 45px 0;
  }



  &:hover{
    background: $white;
    box-shadow: 0px 20px 25.5px 4.5px rgba(33, 20, 106, 0.1); 

    .card-pricing__price{
      color: $primary-color;
    }

    .card-pricing__header h4,p{
      color: $primary-color;
    }

    .button{
      @extend .gradient;
      color: $white;
      box-shadow: 0px 10px 20px 0px rgba(42, 38, 172, 0.1); 
    }
  }
}
.priceTable-relative{
  position: relative;

  @media(min-width: 1200px){
    padding-top: 290px;

    .priceTable-wrapper{
      position: absolute;
      width: 100%;
      left: 0;
      top:0;
    }
  }
}





.form-subscribe{
  max-width: 610px;
  margin-right: auto;
  margin-left: auto;
  
  .form-control{
    border: 0;
    border-radius: 0;
    font-size: 15px;
    height: 40px;
    padding: 0 0 8px 0;
    margin-right: 5px;
    background: transparent;
    color: #888888;
    border-bottom: 1px solid #dbd9e6;

    @media(min-width: 600px){
      margin-right: 40px;
    }

    &::placeholder{
      font-weight: 300;
      color: #888888;
    }

    &:focus{
      outline: 0;
      box-shadow: none;
    }
  }
}




/* Testimonial section start
============================================================================================ */
.testimonial{


  .owl-item img{
    width: auto;
    height: auto;
  }

  .testimonial-item{
    padding: 28px 25px;
    background: $white;

    h4{
      font-size: 20px;
      margin-bottom: 0;
    }

    // &:hover{
    //   box-shadow: 0px 15px 30px 0px rgba(0, 13, 90, 0.1); 
    // }
  }

  .testimonial-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .testi-intro{
    font-size: 14px;
    margin-bottom: 0;
  }

  .owl-dots{
    margin-top: 30px !important;

    @media(min-width: 600px){
      margin-top: 60px !important;
    }

    .owl-dot{

      span{
        width: 20px;
        height: 3px;
        background: rgb(219, 217, 230);
        border-radius: 5px;
        margin: 5px 8px;
      }

      &.active span{
        height: 5px;
        @extend .gradient;
      }
    }
  }
}





/* Testimonial section end
============================================================================================ */



